* {
  box-sizing: border-box;
}

body {
  font-family: "Black Ops One";
  background-color: #4f5328;
  color: black;
  position: relative;
}

.container {
  width: 1540px;
  margin: 20px auto;
}

h1 {
  font-size: 25px;
}

.main-header {
  border: 3px solid black;
  border-radius: 15px;
  background-color: #c7c1b6;
  padding: 0 20px;
  margin-bottom: 30px;
  word-spacing: 1px;
}

h3 {
  margin-top: 0;
  text-align: center;
}
.section-one {
  display: flex;
  gap: 30px;
}

.section-one-family-vid-left {
  border-radius: 15px;
  border: 3px solid black;
  height: 506.63px;
  width: 300px;
}

.do-for-you {
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #c7c1b6;
  padding: 15px 15px;
  margin: 0;
}

.section-one-family-vid-right {
  border-radius: 15px;
  border: 3px solid black;
  height: 506.63px;
  width: 300px;
}

.Flag-Of-USA {
  border: 3px solid black;
  border-radius: 15px;
  width: 1540px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  gap: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #c7c1b6;
}
a:active {
  text-decoration: none;
  color: black;
}

.transition-nav,
.family-nav,
.mental-nav,
.HIT-nav,
.about-nav {
  --_g1: conic-gradient(from 90deg at 50% 75%, #000 90deg, #fff 0) no-repeat;
  --_g2: conic-gradient(from 90deg at 50% 75%, #0000 90deg, #000 0) no-repeat;
  background: var(--_g1) 0 calc(134% - var(--_p, 0%)),
    var(--_g2) 0 calc(134% - var(--_p, 0%)),
    var(--_g1) 100% calc(200% - var(--_p, 0%)),
    var(--_g2) 100% calc(200% - var(--_p, 0%)), #000;
  background-size: 50.2% 400%;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.8s;
}

.transition-nav:hover,
.family-nav:hover,
.mental-nav:hover,
.HIT-nav:hover,
.about-nav:hover {
  --_p: 134%;
}

.section-one-family-vid-left,
.section-one-family-vid-right,
.more-resources,
.Flag-Of-USA {
  transition: 1s ease;
}

/* .section-one-family-vid-left:hover,
.section-one-family-vid-right:hover,
.more-resources:hover,
.Flag-Of-USA:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
} */

.first-row-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.second-row-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.benefits,
.careers,
.disabilities,
.education,
.health,
.records {
  font-family: "Black Ops One";
  border-radius: 15px;
  background-color: #4f5328;
  border: 3px solid black;
  color: #c7c1b6;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 11px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.benefits,
.careers,
.disabilities,
.education,
.health,
.records {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.benefits:after,
.careers:after,
.disabilities:after,
.education:after,
.health:after,
.records:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -50px;
  transition: 0.9s;
}

.benefits:hover,
.careers:hover,
.disabilities:hover,
.education:hover,
.health:hover,
.records:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.benefits:hover:after,
.careers:hover:after,
.disabilities:hover:after,
.education:hover:after,
.health:hover:after,
.records:hover:after {
  opacity: 1;
  right: 10px;
}

.more-resources {
  border: 3px solid black;
  border-radius: 15px;
  background-color: #c7c1b6;
  padding: 20px 20px;
  word-spacing: 1px;
  text-align: center;
}
